.searchResult {
  display: flex;
  flex-direction: column;
  // margin: 0 auto;
  margin-bottom: 40px;
  max-height: 144px;
}

.searchResult_title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
  margin-bottom: 24px;
}

.searchResult_title:hover {
  color: #4877F2;
  cursor: pointer;
}

.searchResult_description {
  max-width: 653px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2C2D2E;
  opacity: 0.8;
  margin-bottom: 24px;
}

.searchResult_date {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2A2F37;
  opacity: 0.6;
}