.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 6px 26px;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 4px;
  background: #3A95FF;
  transition: 0.2s;
  // margin-top: 40px;

  display: flex;
  align-items: center;
  text-align: center;
}