.button {
  color: white;
  text-decoration: none;
  padding: 6px 26px;
  outline: none;
  border-style: none;
  background-color: #3A95FF;
  transition: 0.2s;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  transition: 0.2s;
}

.button:hover {
  background: #1d49aa;

}

.button:active {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
}