//colors
$main-color:	#3A95FF;
$sub-color: #FFAC28;
$title-color: #2C2D2E;
$text-color:  #424242;;

//fonts
$title: 'Jost', sans-serif;
$text: 'Jost', normal;

//vars
$title-size: 18px;
$text-size: 14px;
