.form_wrapper {
  max-width: 348px;
  margin: 0 auto;
  background: #ffff;
  border: 1px solid rgba(42, 47, 55, 0.08);
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 288px;
}

.tabs_title {
  max-width: 348px;
  align-items: center;
}
