.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1168px;
  min-height: 72px;
  margin: 0 auto;
  
  & > div {
    display: flex;
    align-items: center;
  }
}

.logo_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin-left: 4px;
  align-items: center;
  margin-left: 4px;
}

.header_search {
  max-width: 565px;
  max-height: 36px;
  border: 1px solid #4877F2;
  box-sizing: border-box;
  border-radius: 4px;
}

.header_account {
  max-width: 67px;
  max-height: 24px;
}

.header_account a {
  color: #424242 !important;
  text-decoration: none;
  margin-left: 8px;
}

.header_input {
  font-size: 16px;
  border: 1px solid #4877F2;
  box-sizing: border-box;
  border-radius: 4px; 
  max-width: 469px;
  max-height: 18px;
  position: relative;
}

.button_search .button {
  width: 96px;
  height: 36px;
  padding: 6px 26px;
  color: white;
  text-decoration: none;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-radius: 4px;
  background-color: #4877F2;
  border-radius: 0px 4px 4px 0px;
  transition: 0.2s;

  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;

  position: absolute;
}

.button_search:hover {
  background: #1d49aa;
}

.button_search:active {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.button_primary button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  background-color: #FFAC28;
  border-radius: 4px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2C2D2E;
}

.button_primary:hover button{
  background: #ee9f20;
}

.button_primary:active button {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
