.searchResult_title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #527598;
  opacity: 0.6;
  margin-bottom: 40px;
  margin-top: 40px;
}


.searchResult_wrap {
  max-width: 767px;
  margin: 0 auto;
}